/* hero.css */

.hero-container {
  display: flex;
  align-items: center;
  padding: 40px;
  width: 100%;
}

.hero-images {
  flex-shrink: 0;
  width: 50%;
}

.hero-image {
  width: 80%;
  height: auto;
  margin-bottom: 16px;
  object-fit: cover; /* This property ensures the image retains its aspect ratio */
  border-radius: 8px;
}

.hero-text {
  flex-grow: 1;
  padding: 0 40px;
  color: #fff;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 8vw;
}

.hero-btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.secondary-btn {
  background-color: #940a05c2; /* Change to your secondary color */
  color: #fff;
  border:none;
  margin-left: 12px;
}
.alt{
  display: none;
}

@media (max-width: 1440px) {
  .secondary-btn {
    position: relative;
    top:-6vw;
    left:-1vw;
  }
}

/* @media (max-width: 1024px) {
  .secondary-btn {
    left: 52.5%;
  }
} */

@media (max-width: 768px) {
  .hero-container {
    display: block;
    padding: 24px;
  } 
  .hero-description{
    font-size: 3vw;
  }
  /* .secondary-btn {
    left: 6.8%;
    top: 73vw;
  } */
}

@media (max-width: 2560px) {
  .hero-title {
    font-size: 2.5vw;
  }
  .hero-description {
    font-size: 1.5vw;
  }
  .secondary-btn{
    top:-6vw;
    left:-.8vw;
    position: relative;
  }
}

/* @media (max-width: 1199.8px) {
  .secondary-btn {
    top: 35vw;
  }
} */

@media (max-width: 426px) {
  .hero-title,
  .hero-description {
    display: none;
  }
  .secondary-btn{
    position: relative;
    width:fit-content;
    font-size: 2vw;
    display: none;
  }
  .alt{
    display: block;
    background-color: #940a05c2; /* Change to your secondary color */
    color: #fff;
    border:none;
    position: absolute;
    font-size: 3.5vw;
    top:0;
    right:3vw;
    margin-top:.5vw;
    margin-right:2vw;

  }
  .alt:after{
    content: "Sign in";
  }
  .hero-images {
    display: flex;
    width:100vw;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .hero-image {
    width: 24vw;
  }
}
@media(max-width:375px)
{
  .alt{
    margin-top:2vw;
  }
}
@media ( max-width:320px)
{
  .alt{
    margin-top:3vw;

  }
}
/* hero.css */

@media (max-width:1024px)
{
  .hero-title{
    font-size: 4vw;
  }
  .hero-description{
    font-size: 2vw;
  }
}

